@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: DM Sans, sans-serif;

  --color-reefgold-50: #faf9f0;
  --color-reefgold-100: #f5f3e1;
  --color-reefgold-200: #e6e2b5;
  --color-reefgold-300: #d6d090;
  --color-reefgold-400: #baaf4e;
  --color-reefgold-500: #9c8e1b;
  --color-reefgold-600: #8c7815;
  --color-reefgold-700: #755d0f;
  --color-reefgold-800: #5e4509;
  --color-reefgold-900: #452e06;
  --color-reefgold-950: #2e1b02;

  --color-woodsmoke-50: #64646C;
  --color-woodsmoke-100: #5A5A62;
  --color-woodsmoke-200: #47474D;
  --color-woodsmoke-300: #333337;
  --color-woodsmoke-400: #202022;
  --color-woodsmoke-500: #0C0C0D;
  --color-woodsmoke-600: #000000;
  --color-woodsmoke-700: #000000;
  --color-woodsmoke-800: #000000;
  --color-woodsmoke-900: #000000;
  --color-woodsmoke-950: #000000;
}
