@import "tailwindcss";
@import "@nuxt/ui";

/* Basic prose typography styles */
.prose {
  max-width: 65ch;
  color: var(--color-gray-700);
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  font-size: 2.25em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.8em;
  line-height: 1.1;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.4;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--color-primary-500);
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  font-weight: 600;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-style: italic;
  border-left-width: 4px;
  border-left-color: var(--color-gray-300);
  padding-left: 1em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-size: 0.875em;
  font-weight: 600;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: var(--color-gray-100);
  border-radius: 0.375rem;
  padding: 0.875em 1.125em;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  overflow-x: auto;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
  font-size: 0.875em;
  color: var(--color-gray-500);
  margin-top: 0.875em;
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: var(--color-gray-200);
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
}

.prose :where(th):not(:where([class~="not-prose"] *)) {
  font-weight: 600;
  padding: 0.5em;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-gray-300);
}

.prose :where(td):not(:where([class~="not-prose"] *)) {
  padding: 0.5em;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-gray-200);
}

/* Dark mode */
.dark .prose {
  color: var(--color-gray-300);
}

.dark .prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  border-left-color: var(--color-gray-600);
}

.dark .prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: var(--color-gray-800);
}

.dark .prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: var(--color-gray-700);
}

.dark .prose :where(th):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--color-gray-600);
}

.dark .prose :where(td):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--color-gray-700);
}

/* Size variants */
.prose-lg {
  font-size: 1.125rem;
  line-height: 1.8;
}

/* Remove max-width constraint */
.prose.max-w-none {
  max-width: none;
}
