name: ci-main

on:
  push:
    paths-ignore:
      - "docs/**"
      - "*.md"
    branches:
      - main
      - refactoring-claude-ai
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      NUXT_UI_PRO_LICENSE: ${{ secrets.NUXT_UI_PRO_LICENSE }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm run lint

      - name: Type check
        run: pnpm run typecheck

      - name: Generate coverage report
        run: pnpm run coverage

      - name: Module Build
        run: pnpm run build

      - name: Playground Build
        run: pnpm run dev:build
